@import '../../styles/index.scss';

.video-card {
  transition: all linear 0.3s;
  iframe {
    width: 100%;
  }
  .video-title {
    transition: all linear 0.3s;
  }
  &:hover {
    transform: scale(1.02);
  }
}
