@import "../../styles/index.scss";

.refund-request {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  background: $tertiary-background-color;
  z-index: 1;
  width: 60%;
  //   height: 400px;
  padding: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 578px) {
  .refund-request {
    width: 90%;
  }
}
