@import "../../styles/index.scss";

.list-card {
  border-bottom: 1px solid #e2e2e2;

  .save-text {
    background: $hexary-background-color;
  }

  &:last-child {
    border-bottom: 0;
  }

  .icon-area {
    border: 1px solid $hexary-border-color;
    border-radius: 50%;
  }

  .details {
    .review {
      svg {
        color: $primary-text-color;
      }
      span {
        color: $primary-text-color;
      }
    }
    .icon-title {
      color: $quaternary-text-color;
      margin-left: 5px;
    }
    .interaction {
      transition: all linear 0.3s;
      &:hover {
        .icon-area{
          border: 1px solid $hover-color;
          border-radius: 50%;
        }
        svg {
          color: $hover-color;
        }
        p {
          color: $primary-text-color;
        }
      }
    }
  }

  .stock {
    border-bottom: 2px solid #e0e0e0;
  }
  .save-money {
    color: $tertiary-text-color;
  }

  .stock-out {
    background: #92989d !important;
    &:hover {
      background: #92989d !important;
    }
  }
}

.discount {
  transition: all linear 0.3s;

  &:hover {
    background: $primary-background-color;
    color: $tertiary-text-color;
    cursor: pointer;
  }
}
.new {
  transition: all linear 0.3s;

  &:hover {
    background: $primary-background-color;
    color: $tertiary-text-color;
    cursor: pointer;
  }
}
.sudo {
  border: 1px solid $primary-text-color;
  margin: 0 5px;
  &:hover {
    border: 1px solid $border-color;
  }
}