@import '../../styles/index.scss';

.list-card {
  border-bottom: 1px solid #e2e2e2;

  &:last-child {
    border-bottom: 0;
  }

  .icon-area {
    border: 1px solid $black-color;
    border-radius: 50%;
    /* 
    .icon {
      // color: $ash-color;
    } */
  }

  .details {
    .review {
      svg {
        color: $primary-color;
      }
      span {
        color: $primary-color;
      }
    }
    .icon-title {
      color: $black-color;
      margin-left: 5px;
    }
    .interaction {
      transition: all linear 0.3s;
      &:hover {
        .icon-area {
          border-color: $primary-color;
        }
        svg {
          color: $primary-color;
        }
        p {
          color: $primary-color;
        }
      }
    }
  }

  .sudo {
    border: 1px solid $primary-color;
    &:hover {
      background: $primary-color;
      color: $white-color;
    }
    margin: 0 5px;
  }
  .stock {
    border-bottom: 2px solid #e0e0e0;
  }
  .save-money {
    color: $white-color;
  }
  .product-btn {
    transition: all linear 0.3s;
    &:hover {
      background: $hover-color;
    }
  }
}
