@import "../../../../styles/index.scss";

.blog-details {
  padding-bottom: 80px;
  border-bottom: 1px solid $border-color;
}
.border-area {
  border-bottom: 1px solid $border-color;
}

.social {
  .social-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $border-color;
    padding: 5px;
    transition: all linear 0.3s;
    background: transparent;

    svg {
      color: $black-color;
    }

    &:hover {
      background: $primary-background-color;

      svg {
        color: $white-color;
      }
    }
  }
}
