@import "../../styles/index.scss";
.emi {
  padding-top: 60px;
  padding-bottom: 80px;

  .emi-table {
    border: 1px solid $primary-border-color;

    .border-color {
      border-color: $primary-border-color;
    }
  }
}
