@import "../../styles/index.scss";

.profile-link {
  li {
    &:hover {
      background: $secondary-background-color;
    }
  }
}
.profile-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.profile-sidebar.open {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
  z-index: 1000; // Should be below the sidebar
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.sidebar-overlay.open {
  opacity: 1;
  pointer-events: auto;
}