@import "../../styles/index.scss";

.button {
  background: $primary-background-color;
  color: $tertiary-text-color;
  border: 0;
  transition: all linear 0.3s;

  &:hover {
    background: #252022;
  }
}

.btn__disable{
  cursor: not-allowed;
  pointer-events: none;
  background: #92989d;

}