@import "../../styles/index.scss";

.button {
  background: $primary-background-color;
  color: $tertiary-color;
  border: 0;
  transition: all linear 0.3s;

  &:hover {
    background: $hover-color;
  }
}
