@import "../../styles/index.scss";
.compare {
  padding-top: 60px;
  padding-bottom: 80px;

  .compare-button {
    background: transparent;
    color: $quaternary-text-color;
    border: 1px solid $hexary-border-color;
    transition: all linear 0.3s;

    &:hover {
      background: $primary-background-color;
      color: $tertiary-text-color;
      border: 1px solid $primary-border-color;
    }
  }

  .compare-table {
    .heading {
      background: $secondary-background-color;
    }
    thead {
      .header {
        display: flex;
        justify-content: space-between;
        background: $tertiary-background-color;
        padding: 10px 5px;
      }
    }
    tbody {
      tr {
        background: $secondary-background-color;
        transition: all linear 0.3s;

        &:hover {
          background: $quaternary-background-color;
        }

        &:nth-child(odd) {
          background: $tertiary-background-color;

          &:hover {
            background: $quaternary-background-color;
          }
        }

        td {
          border: 1px solid$tertiary-border-color;
          border-top: 0;
        }
        .icons {
          svg {
            color: $primary-text-color;
          }
        }
      }
    }
  }

  .danger-text {
    color: $hexary-text-color;
  }
  .discount {
    color: $tertiary-text-color;
    background: $hexary-background-color;
  }
}
.stock-out {
  background: #92989d;
  &:hover {
    background: #92989d;
  }
}