@import '../../styles/index.scss';
.compare {
  padding-top: 60px;
  padding-bottom: 80px;

  .compare-table {
    .heading {
      background: $secondary-color;
    }
    thead {
      .header {
        display: flex;
        justify-content: space-between;
        background: $white-color;
        padding: 10px 5px;
      }
    }
    tbody {
      tr {
        background: $secondary-color;
        transition: all linear 0.3s;

        &:hover {
          background: $quaternary-color;
        }

        &:nth-child(odd) {
          background: $white-color;

          &:hover {
            background: $quaternary-color;
          }
        }

        td {
          border: 1px solid $tertiary-color;
          border-top: 0;
        }
        .icons {
          svg {
            color: $primary-color;
          }
        }
      }
    }
  }

  /*   .header {
  } */
  /*  .jobair {
    grid-template-columns: 250px repeat(4, 1fr);
    border-right: 1px solid $border-color;
    .product-card {
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-right: 1px solid $border-color;
      }
    }
    .product-row {
      background: $tertiary-color;
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
    }
  } */
  .danger-text {
    color: $octonary-color;
  }
}
