@import "../../styles/index.scss";

.from-group {
  .area-input {
    border: 1px solid $primary-border-color;
    min-height: 120px;
    padding: 10px 5px;
    resize: none;
    &::placeholder {
      font-style: italic;
    }
    &:focus-visible {
      outline: $primary-outline-color;
    }
  }
}
