@import '../../styles/index.scss';

.register-outline {
  background: transparent;
  border: 1px solid $primary-color;
  color: black;
}

.login-area {
  box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
