@import "../../styles/index.scss";
.login-page {
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 0px;
  }
}
.register-outline {
  background: transparent;
  border: 1px solid $primary-color;
  color: black;
  transition: all linear 0.3s;

  &:hover {
    background: $primary-background-color;
    color: $tertiary-color;
  }
}

.login-area {
  box-shadow: $primary-shadow;
}
.warning {
  color: $hexary-color;
}
@media screen and (max-width: 768px) {
  .login-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
