@import '../../styles/index.scss';

.question {
  box-shadow: 0px 0px 4px rgba(34, 34, 34, 0.1);

  .title {
    background: $quinary-color;
  }
  .open {
    background: $primary-color;

    .icon {
      color: $white-color;
    }

    h3 {
      color: $white-color;
    }
  }
  .answer {
    // display: none;
    background: $quaternary-color;
  }
}
