@import "../../styles/index.scss";

.question {
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.07);

  .open {
    background: $primary-background-color;

    .icon {
      color: $tertiary-color;
    }

    h3 {
      color: $tertiary-color;
    }
  }
  .answer {
    // display: none;
    background: $quaternary-background-color;
  }
}
