$primary-color: #164194;
$secondary-color: #f1f1f1;
$tertiary-color: #e0e0e0;
$white-color: #fff;
$quaternary-color: #f9f9f9;
$quinary-color: #f2f2f2;
$senary-color: #1e9cd8;
$black-color: #000000;
$border-color: #cccccc;
$octonary-color: #ff0000;

$nonary-color: #50a5f1;
$decenary-color: #eceff4;
