$primary-text-color: #164194;
$secondary-color: #f1f1f1;
$tertiary-color: #fff;
$quaternary-color: #000;
$quinary-color: #d6d6d6;
$hexary-color: #ff0000;

$hover-color: #2456b5;

$primary-border-color: #cccccc;
$secondary-border-color: #ececec;
$tertiary-border-color: #e0e0e0;
$quaternary-border-color: #164194;

$primary-background-color: #164194;
$secondary-background-color: #f1f1f1;
$tertiary-background-color: #fff;
$quaternary-background-color: #f9f9f9;
