@import "../../styles/index.scss";

.category-title {
  border-bottom: 2px solid $light-border;
}

.view {
  transition: all linear 0.3s;

  &:hover {
    background: $primary-background-color;
    color: $white-color;
  }
}
