@import "../../styles/index.scss";

.category-title {
  border-bottom: 2px solid $secondary-border-color;
}

.view {
  transition: all linear 0.3s;

  &:hover {
    background: $primary-background-color;
    color: $tertiary-text-color;
  }
}
