@import "../../../styles/index.scss";
.cart-page {
  padding-top: 80px;
  padding-bottom: 80px;

  .direction-area {
    border: 1px solid $septenary-border-color;
    padding: 20px 42px;

    .item-wrapper {
      padding-bottom: 10px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background: url("/assets/images/line/line.jpg") no-repeat center;
        background-size: cover;
      }
      .item {
        .icon {
          color: #b3b2b3;
        }
        h4 {
          color: #b3b2b3;
        }
        &:first-child {
          .icon {
            color: $primary-text-color;
          }
          h4 {
            color: $primary-text-color;
          }
        }
      }
    }
  }

  .cart-elements {
    margin-top: 30px;
    .product-title {
      border-bottom: 1px solid $septenary-border-color;
      padding-bottom: 6px;
      .dot-icon {
        color: $quinary-text-color;
      }
    }

    .product-item {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $primary-border-color;

      .qnt-1 {
        border: 1px solid $primary-border-color;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          border-right: 0;
          width: 20px;
          cursor: pointer;
        }
        &:last-child {
          border-left: 0;
          width: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .cart-summery {
    border: 1px solid $septenary-border-color;

    .summery-border {
      border-bottom: 1px solid $septenary-border-color;
    }
  }
}

.cart-service {
  background: $primary-background-color;
  margin-bottom: 80px;
  .service-card {
    color: $tertiary-text-color;
    h4 {
      color: $tertiary-text-color !important;
    }
    h6 {
      color: $tertiary-text-color !important;
    }
  }
}
