@import "../../styles/index.scss";

.emi-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.243);
  .main-wrapper {
    width: 75%;
    margin: 40px auto;
    padding: 30px;
    height: 85%;
    background: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
  }
  .border-color {
    border-color: $primary-border-color;
  }
  .emi-header {
    border-bottom: 1px solid $primary-border-color;
  }
}

@media screen and (max-width: 576px) {
  .emi-popup {
    .main-wrapper {
      width: 95%;
      padding: 10px;
    }
  }
}
