@import "../../styles/index.scss";

.sticky-navbar{
  position: sticky;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
}


@media screen and (max-width: 768px) {
  .sticky-navbar{
    top: 64px;
  }
  
}


.heading {
  .mega-arrow {
    position: absolute;
    right: 0;
  }
  .sub-heading {
    background: $tertiary-background-color;
    width: 230px;
    top: 37px;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s;

    .sub-item {
      cursor: pointer;
      .children-item {
        width: 220px;
        right: 0;
        top: 0px;
        background: $tertiary-background-color;
        transform: translateX(100%);
        /*  padding: 10px;
        padding-top: 0; */
        opacity: 0;
        visibility: hidden;
        transition: all linear 0.3s;
        cursor: pointer;

        li {
          padding-top: 6px;
          padding-bottom: 6px;
          transition: all linear 0.3s;

          a {
            padding-left: 10px;
            transition: all linear 0.3s;
            display: block;
          }

          &:hover {

            a {
              color: $hover-color;
            }
          }
        }
      }
      .sub-element {
        padding-left: 10px;
        padding-right: 10px;
      }
      &:hover {
        color: $hover-color;
        .children-item {
          opacity: 1;
          visibility: visible;
        }
        .sub-element {
          color: $hover-color;
        }
      }
    }
  }
  &:hover {
    .sub-heading {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mobile-menu {
  .main-button {
    .menus {
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all linear 0.3s;

      .parent-category {
        // height: 0;
        // opacity: 0;
        .sub-categories {
          height: 0;
          opacity: 0;
          transition: all linear 0.3s;

          .sub-category {
            .children-category {
              height: 0;
              opacity: 0;
              transition: all linear 0.3s;
            }

            .self:hover {
              svg {
                color: $tertiary-text-color;
              }
              a {
                color: $tertiary-text-color;
              }
            }
            &:hover {
              .children-category {
                height: 100%;
                opacity: 1;
              }
            }
          }
        }
      }

      .sub-category {
        .children-category {
          height: 0;
          opacity: 0;
          transition: all linear 0.3s;
        }

        .self:hover {
          svg {
            color: $tertiary-text-color;
          }
          a {
            color: $tertiary-text-color;
          }
        }
        &:hover {
          .children-category {
            height: 100%;
            opacity: 1;
          }
        }
      }

      .parent-category:hover ~ .sub-categories {
        height: 100%;
        opacity: 1;
      }
    }

    // working
    &:hover {
      .menus {
        height: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
