@import "../styles/index.scss";

.primary-text {
  color: $text-color;
}
.primary-hover {
  &:hover {
    color: $hover-color;
  }
}
.primary-bg {
  background: $primary-background-color;
}
.primary-hover-bg {
  &:hover {
    background: $primary-background-color;
  }
}
.hover-text-color {
  &:hover {
    color: $hover-color;
  }
}
.white-text {
  color: $tertiary-text-color;
}
.white-bg {
  background: $tertiary-background-color;
}
.white-hover-text {
  &:hover {
    color: $tertiary-text-color;
  }
}
.secondary-bg {
  background: $secondary-background-color;
}
.secondary-border {
  border-color: $quinary-border-color;
}
.black-text {
  color: $quaternary-text-color;
}
.warning {
  color: $hexary-text-color;
}
.primary-text-color{
  color: $primary-text-color;
}
