@import "../styles/index.scss";

.primary-text {
  color: $primary-text-color;
}
.primary-hover {
  &:hover {
    color: $primary-text-color;
  }
}
.primary-bg {
  background: $primary-background-color;
}
.primary-hover-bg {
  &:hover {
    background: $primary-background-color;
  }
}
.hover-text-color {
  &:hover {
    color: $hover-color;
  }
}
.white-text {
  color: $tertiary-color;
}
.white-bg {
  background: $tertiary-background-color;
}
.white-hover-text {
  &:hover {
    color: $tertiary-color;
  }
}
.secondary-bg {
  background: $secondary-background-color;
}
.secondary-border {
  border-color: $secondary-color;
}
.black-text {
  color: $quaternary-color;
}
