@import '../../styles/index.scss';

.service-card {
  border: 1px solid transparent;
  padding: 10px;
  transition: all linear 0.3s;
  .image {
    width: 15%;
    img {
      object-fit: cover;
      width: auto;
      height: auto;
    }
  }
  .text {
    width: 85%;
    h4 {
      color: $primary-color;
    }
    h6 {
      color: $black-color;
    }
  }
  &:hover {
    border: 1px solid $primary-color;
  }
}

@media (max-width: 575.98px) {
  .service-card {
    .image {
      width: 100%;
      img {
        width: 40px;
        margin: auto;
      }
    }
    .text {
      width: 100%;
      text-align: center;
    }
  }
}
