@import '../../styles/index.scss';

.service-card {
  border: 1px solid transparent;
  padding: 10px 5px;
  transition: all linear 0.3s;
  img {
    object-fit: cover;
    width: auto;
    height: auto;
  }
  h4 {
    color: $primary-color;
  }
  h6 {
    color: $black-color;
  }
  &:hover {
    border: 2px solid $primary-color;
  }
}
