@import "../../styles/index.scss";

.service-card {
  padding: 10px;
  .image {
    width: 20%;
    margin-right: 6px;
    img {
      object-fit: cover;
      width: auto;
      height: auto;
    }
  }
  .text {
    text-align: left;
    h4 {
      color: $hexary-border-color;
    }
    h6 {
      color: $quaternary-text-color;
    }
  }
  &:hover {
    color: #414141;
  }
}

@media (max-width: 575.98px) {
  .service-card {
    .image {
      width: 100%;
      img {
        width: 35px;
        margin: auto;
      }
    }
    .text {
      width: 100%;
      text-align: center;
    }
  }
}
