@import '../../styles/index.scss';

.sub-link {
  transition: all linear 0.3s;
}
.help-item {
  opacity: 1;
  visibility: hidden;
  transition: all linear 0.3s;
}
.sub-link:hover ~ .help-item {
  opacity: 1;
  visibility: visible;
}
