@import "../../styles/index.scss";

.sticky-nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.navbar {
  background-color: $quaternary-background-color;

  .select-categories {
    background: $tertiary-border-color;
  }
  .absolute-item {
    background: $hexary-background-color;
  }
  .search-input {
    border: 1px solid $primary-border-color;
  }
  .logo {
    width: 150px;
    height: auto;
    transition: all 0.3s ease-in-out; 
  }

  .link-item {
    &:hover {
      .link {
        transform: scale(1.08);
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .navbar {
    .logo {
      width: 100px;
      height: auto;
    }
  }
}
