@import '../../styles/index.scss';

.navbar {
  background-color: $quaternary-color;

  .select-categories {
    background: $tertiary-color;
  }
  .absolute-item {
    background: $octonary-color;
  }
  .search-input {
    border: 1px solid $border-color;
  }
  .logo {
    width: 150px;
    height: auto;
  }

  .link-item {
    &:hover {
      .link {
        transform: scale(1.08);
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .navbar {
    .logo {
      width: 100px;
      height: auto;
    }
  }
}
