@import '../../styles/index.scss';

.navbar {
  background-color: $quaternary-color;

  .select-categories {
    background: $tertiary-color;
  }
  .absolute-item {
    background: $octonary-color;
  }
  .logo {
    width: 150px;
    height: auto;
  }

  .link-item {
    &:hover {
      .link {
        transform: scale(1.08);
      }
    }
  }
}
