@import "../../styles/index.scss";

.explore-card {
  padding: 16px;
  margin-bottom: 10px;
  .explore-item {
    img {
      width: 80%;
      margin: 0 auto;
      transition: all linear 0.3s;
    }
    p {
      color: $quaternary-text-color;
      transition: all linear 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      p {
        color: $primary-text-color;
      }
    }
  }
}
