@import '../../../../styles/index.scss';

.product-details {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding-bottom: 50px;

  svg {
    width: 15px;
    height: 15px;
  }
  .product-item {
    padding: 4px;
    img {
      border: 1px solid $border-color;
    }
    &:focus-visible {
      outline: none;
    }
  }

  .view-image {
    border: 1px solid $border-color;
  }

  .slick-arrow {
    height: 35px;
    width: 35px;
  }

  .slick-prev {
    left: -30px;
    color: $tertiary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .slick-next {
    right: -35px;
    color: $tertiary-color;
    margin-left: 30px;
    &:hover {
      color: $secondary-color;
    }
  }

  .price-area {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
  .r-price {
    color: $border-color;
  }
  .emi {
    border-bottom: 1px solid $border-color;
  }
  .action {
    .quantity {
      width: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}

.more-details {
  border-bottom: 1px solid $border-color;
  .description {
    .desc {
      margin-top: 10px;
      border: 1px solid $border-color;
      .react-tabs__tab-list {
        display: flex;
        background: $secondary-color;
        font-family: $primary-font;
        font-size: 20px;
        font-weight: bold;
      }
      .react-tabs__tab {
        cursor: pointer;
        padding: 13px 20px;
        font-size: 14px;

        &--selected {
          color: $primary-color;
        }
        &:focus-visible {
          outline: none;
        }
      }

      .tab-panel {
        padding: 12px;
        font-family: $primary-font;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
