@import '../../styles/index.scss';

footer {
  margin-top: 30px;

  background: $white-color;

  .link-item {
    transition: all linear 0.3s;
    &:hover {
      color: $primary-color;
    }
  }

  img {
    width: 150px;
    height: auto;
  }
  .subscribe-form {
    input {
      border-bottom: 1px solid $border-color;
    }
    .subscribe-icon {
      color: $border-color;
    }
  }
  .bottom-image {
    width: auto;
    height: 25px;
    img {
      object-fit: cover;
    }
  }
  .download-apps {
    width: 125px;
  }
}
