@import "../../styles/index.scss";

footer {
  padding-top: 40px;
  border-top: 1px solid #cccccc;

  background: $tertiary-background-color;

  .link-item {
    transition: all linear 0.3s;
    &:hover {
      color: $primary-text-color;
    }
  }

  img {
    width: 150px;
    height: auto;
  }
  .subscribe-form {
    input {
      border-bottom: 1px solid $primary-border-color;
    }
    .subscribe-icon {
      color: $primary-border-color;
    }
  }
  .bottom-image {
    width: auto;
    height: 100%;
    img {
      object-fit: cover;
    }
  }
  .download-apps {
    width: 125px;
  }
}
