@import "../../styles//index.scss";

.action-area {
  padding: 7px 11px;
  min-width: 70px;
  background: $tertiary-background-color;
  .action-wrapper {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    right: 0;
    top: 40px;
    background: $tertiary-background-color;
    transition: all linear 0.3s;
    z-index: 1;
  }
  &:hover {
    .action-wrapper {
      opacity: 1;
      visibility: visible;
    }
  }
  .action-item {
    &:hover {
      background: $secondary-background-color;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 7px 6px;
  }
}
