@import "../../styles/index.scss";

.toggle-button {
  width: 35px;
  height: 14px;
  background-color: #dedede;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  &.checked {
    background-color: $primary-background-color;
  }
}

.slider {
  width: 14px;
  height: 14px;
  background-color: $tertiary-background-color;
  border-radius: 50%;
  position: absolute;
  transition: 0.2s;
  top: 0;
  left: 0;
}

.toggle-button.checked .slider {
  transform: translateX(20px);
}

.toggle-button .active {
  background-color: $tertiary-background-color;
}
