@import "../../styles/index.scss";

.profile {
  padding-top: 80px;
  padding-bottom: 80px;
}
.table-border {
  border-top: 1px solid $quinary-border-color;
}
.sidebar {
  .items {
    opacity: 0;
    visibility: hidden;
    transition: all linear 0.3s;
  }
  &:hover {
    .items {
      opacity: 1;
      visibility: visible;
    }
  }
}
@media (min-width: 769px) {
  .sidebar {
    .items {
      opacity: 1;
      visibility: visible;
    }
  }
}
.warning {
  color: $hexary-text-color;
}
