@import "../../../styles/index.scss";

.promo-box {
  border: 1px solid $border-color;
  padding: 10px 5px;
  &:focus-visible {
    outline: $border-color;
  }
}
.wearing {
  .react-tabs__tab-list {
    display: flex;
    border-bottom: 1px solid $border-color;

    .react-tabs__tab {
      &:focus-visible {
        outline: none;
      }
      &--selected {
        position: relative;
        color: $primary-color;

        &::after {
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          content: "";
          background: $primary-color;
        }
      }
    }
  }
  .content {
    padding: 9px 15px;
    border: 1px solid $border-color;
    border-top: 0;
    .text {
      color: $octonary-color;
    }
  }
}

.order-summery {
  .content {
    padding: 0;
  }
  .heading-table {
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:last-child {
      border-right: 0;
    }
  }
  .sub-border {
    border-top: 1px solid $border-color;
  }
}

.accepted {
  border-bottom: 1px solid $border-color;
  .sudo {
    color: $octonary-color;
  }
}
.checkout-page {
  .brand-color {
    color: $primary-color;
  }
}

@supports (-webkit-appearance: none) {
  #location option {
    color: #000;
    background: $white-color;
  }
}
