@import '../../../styles/index.scss';

.promo-box {
  border: 1px solid $border-color;
  padding: 10px 5px;
  &:focus-visible {
    outline: $border-color;
  }
}
.wearing {
  .react-tabs__tab-list {
    display: flex;
    border-bottom: 1px solid $border-color;

    .react-tabs__tab {
      &:focus-visible {
        outline: none;
      }
      &--selected {
        position: relative;
        color: $primary-color;

        &::after {
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          content: '';
          background: $primary-color;
        }
      }
    }
  }
  .content {
    padding: 9px 15px;
    .text {
      color: $octonary-color;
    }
  }
}
