@import "../../styles/index.scss";

.register {
  padding-top: 80px;
  padding-bottom: 80px;
  .register-area {
    box-shadow: $primary-shadow;
  }
  .auth-border {
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      width: 22%;
      content: "";
      height: 1px;
      background: $primary-border-color;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 22%;
      content: "";
      height: 1px;
      background: $primary-border-color;
    }
  }
}
.warning {
  color: $hexary-color;
}
@media screen and (max-width: 768px) {
  .register {
    padding-top: 50px;
    padding-bottom: 50px;
    .auth-border {
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
  }
}
