@import './../../styles/index.scss';
.banner {
  ul {
    margin-bottom: 50px;
    li {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: $quaternary-color;

      button {
        opacity: 0;
      }
    }
    .slick-active {
      background: $senary-color;
    }
  }
}
