.custom-dropdown {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4px;
    .dropdown-header {
      background-color: #f9fafb;
      border: 1px solid #d1d5db;
      padding: 7px 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;
      color: #1f2937;
      &:hover {
        border-color: #524096;
      }
    }
    .arrow {
      margin-left: auto;
      margin-right: 0;
    }
    .dropdown-options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #ffffff;
      border: 1px solid #d1d5db;
      border-top: none;
      z-index: 10;
      max-height: 200px;
      overflow-y: auto;
    }
    .dropdown-option {
        padding: 7px 5px;
      cursor: pointer;
      &:hover {
        background-color: #524096;
        color: white;
      }
    }
    .open {
      border-color: #524096;
    }
  }
  