@import "../../styles/index.scss";

.profile-invoice {
  tr {
    background: none !important;
  }
  .table-heading {
    background: $secondary-background-color !important;
  }
  .product-a {
    height: 100px;
  }
  .table-border {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  padding: 40px;

  .invoice-header {
    margin-top: 30px;
    padding: 10px 0;

    .title {
      display: flex;
      justify-content: space-between;
    }
    .customer-details {
      display: inline-block;
      padding: 10px 15px;
      color: $primary-text-color;
      background: $tertiary-text-color;
      padding: 10px 0;
      margin-bottom: 10px;
      transform: translateY(-50%);
      font-size: 16px;
    }
    .details {
      display: flex;
      justify-content: space-between;
      margin-top: -50px;

      .left {
        background: $secondary-background-color;
        width: 63%;
        padding: 10px 15px;
        padding-top: 25px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }

      .right {
        background: $secondary-background-color;
        width: 37%;
        padding: 10px 15px;
        box-sizing: border-box;
        p {
          margin-bottom: 5px;
          text-transform: capitalize;
        }
      }

      .heading {
        border: 1px solid $secondary-border-color;
      }

      p {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }

  .invoice-body {
    margin-top: 20px;
    p {
      font-size: 14px;
    }
  }

  .invoice-details-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    th,
    td {
      border: 1px solid $secondary-border-color;
      text-align: center;
      padding: 4px;
    }
    .table-heading {
      background: $secondary-background-color;
    }
    .span-item {
      border: 0;
    }
    .heading-title {
      font-weight: 700;
    }
    .order-item {
      td {
        height: 40px;
      }
    }
  }
}
@media print {
  .invoice {
    display: block;
  }
}
